## .NET / C# project

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Ll]og/
artifacts/

# NuGet
*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
**/Properties/launchSettings.json
*.DotSettings.user

# JetBrains Rider
.idea/
*.sln.iml

# Build / debug artifacts
*.pdb
*.log
*.[Cc]ache
!*.[Cc]ache/

# BenchmarkDotNet output/report files
**/BenchmarkDotNet.Artifacts/
